/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Reem+Kufi+Fun&display=swap');

* {
    color: white !important;
}

.alert-danger {
    background-color: #ff384a !important;
}

input {
    color:black !important;
    text-align: center;
}

input::placeholder {
    opacity: 40% !important;
}

.spacer {
    min-height: 10px;
}

.card {
    background-color: rgba(137, 255, 95, 0.5) !important;
}

.input {
    width: 30% !important;
    /* max-width: 100%; */
}

::placeholder {
    text-align: center;
    opacity: 80%;

}

.scuro {
    background-color: rgb(110, 110, 110);
}

.chiaro {
    background-color: white;
}

.scuro h1 {
    color: white !important;
}

.hidden {
    display: none !important;
}

.col1 {
    /* background-color: yellow; */
}

.col2 {
    /* background-color: red; */
}

.col3 {
    /* background-color: blue; */
}

.titolo {
    font-family: 'Reem Kufi Fun', sans-serif;
}

.spacer-titolo {
    height: 180px;
}

.spacer-bottoni {
    height: 20px;
}

.colorato {
    background-color: purple;
}

.destra {
    position: absolute;
    right: 15px;
    top: 15px;
}

.icona {
    font-size: 150%;
}

.fa-calculator {
    /* font-size: 200%; */
    color: white;
}


.btn-outline-success {
    background-color: rgba(137, 255, 95, 0.5) !important;
    color: white !important;
    width: 100%;
}

.btn-outline-success:hover {
    background-color: rgba(137, 255, 95, 0.8) !important;
}




canvas {
    z-index: 1 !important;
    position: absolute;
}

body {
    z-index: 3 !important;
}

.particles-js-canvas-el {
    /* z-index: 1 !important; */
}

#particles-js {
    z-index: -1 !important;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    /* height: 100vh; */
    background-image: url("../svg/rose-petals.svg");
    top: 0px;
    left: 0px;
}

.sopra {
    z-index: 999 !important;
}







.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }